html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: url("./assets/images/fear-numbers.jpg");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

